* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 70rem;
    width: 50rem;
    background-color: indianred;
    margin-top: 10vh;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 8rem;
}

.scoreboard{
    height: 45%;
    width: 90%;
    padding: 2rem;
    margin: 2rem auto;
    background-color: gray;
    border-radius: 1rem;
}

.score {
    background-color: darkgrey; 
    height: 45%;
}

h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 6rem;
    font-weight: 800;
    color: black;
    text-align: center;
    padding-top: 1.5rem;
}
.gamestatus {
    background-color: darkgrey;
    height: 45%;
}
h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    color: sienna;
    text-align: center;
    margin-top: 1rem;
    padding-top: 2rem;
}

h4{
    font-family: Pretendo, Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}
.inputbuttons {
    width: 95%;  
    margin: auto;
    padding-top: 6rem;
}

.btn {
    width: 13rem;
    height: 5rem;
    margin: 1rem;
    background-color: #d3cccc;
    border-radius: 3rem;
    outline: none;
    box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.4);
    font-family: Audiowide;
    
}

.btn:active,
#reset:active{
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.4);

}

.resetcontainer {
    margin-top: 5rem;
    display: flex;
    justify-content: center;

}

#reset {
    height: 7rem;
    width: 40%;
    background-color: #d3cccc;
    border-radius: 3rem;
    outline: none;
    box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.4);
    font-family: Audiowide;
    font-size: 2rem;
}
